<section data-ng-controller="authController" class="authSection">
<form data-ng-submit="authSubmit(user)" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="email">Email: </label>
            <input type="email" name="email" data-ng-model="user.email" />
        </div>

        <div class="pure-control-group">
            <label for="password">Password: </label>
            <input type="password" name="password" data-ng-model="user.password" />
        </div>

        <div class="pure-controls">


            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>

</section>
