<form class="new-item" data-ng-submit="save({item: item})">
  <ul>

    <li>
      <input type="text" placeholder="item name" data-ng-model="item.itemName" class="field-style field-full align-none"/>
    </li>

    <li>
      <select data-ng-model="item.itemType" class="field-style field-split align-left">
        <option value="" disabled selected>category</option>
        <option value="vegetable">Vegetable</option>
        <option value="fruit">Fruit</option>
        <option value="meat">Meat</option>
        <option value="fish">Fish</option>
      </select>

      <input type="date" data-ng-model="item.exp" class="field-style field-split align-right" placeholder="expiration" />
    </li>

    <li>
      <input type="number" placeholder="quantity" data-ng-model="item.qty" class="field-style field-split align-left"/>

      <select data-ng-model="item.qtyType" class="field-style field-split align-right">
        <option value="" disabled selected>measure</option>
        <option value="bunch">bunch</option>
        <option value="cup">cup</option>
        <option value="each">each</option>
        <option value="oz">oz</option>
        <option value="fl oz">fl oz</option>
        <option value="lb">lb</option>
      </select>

      <input type="currency" placeholder="cost" data-ng-model="item.cost" class="field-style field-split align-left"/>
    </li>

    <li>
      <select data-ng-model="item.storageType" class="field-style field-split align-right">
        <option value="" disabled selected style='display:none;'>storage area</option>
        <option value="refrigerator">Refrigerator</option>
        <option value="freezer">Freezer</option>
        <option value="pantry">Pantry</option>
        <option value="cabinet">Kitchen</option>
      </select>
    </li>


    <li>
      <input type="submit" value="Add Item" />
    </li>
  </ul>
</form>
