<section data-ng-controller="authController">
  <form data-ng-submit="authSubmit(user)">
    <label for="username">Username: </label>
    <input type="text" name="username" data-ng-model="user.username" />
    <label for="email">Email: </label>
    <input type="email" name="email" data-ng-model="user.email" />
    <label for="password">Password: </label>
    <input type="password" name="password" data-ng-model="user.password" />
    <label for="password_conf">Confirm Your Password: </label>
    <input type="password" name="password_conf" data-ng-model="user.password_conf" />
    <input type="submit" value="Submit" />
  </form>
</section>
