<section>
  <input type="text" placeholder="Search your freezr">
  <h2>Your Inventory</h2>
  <ul>
    <li data-ng-repeat="item in displayedItems">
      <div class="item-wrapper">
        <div class="food-item" style="background-image: url({{item.imageURL}})">
          <!-- <img src={{item.imageURL}} alt={{item.caption}} /> -->
          {{item.itemName}}
          <span id="expires">Expires by {{item.exp}}</span>
          <span id={{item.storageType}}></span>
        </div>
      </div>
    </li>
  </ul>
  <h2>Add More Items</h2>
  <div data-inventory-form-directive
        data-save="createNewItem(item)"
        data-button-text="'Add Item'"></div>
</section>
