<section class="your-inventory homepage-css>
  <div class="inventory-prefix">
    <input type="text" placeholder="Search your freezr" data-ng-model="search.$">
    <div class="logo-header" data-ng-click="toggleForm()">your freezr</div>
  </div>
  <ul>
    <!-- the search filter tries to match your search to any property in the itemObj (can change if requested) -->
    <li data-ng-repeat="item in displayedItems | filter:search" data-ng-click="saveSingleFood(item)">
      <div class="item-wrapper" style="background-image: url({{item.imageURL}})">
        <div class="food-item"> <!-- for element inspector adjustment -->

          <div class="item-name">{{item.itemName}}</div>

          <div class="item-location">{{item.storageType.substr(0,1).toUpperCase()}}</div>

          <div class="item-expiry">
            Expires in<br/>
            <span class="item-days">{{item.days}}</span><br/>
             days
          </div>
        </div>
      </div>
      </div>
    </li>
  </ul>
</section>
<section class="more-items">
  <h2 id="add-more-click" data-ng-click="toggleForm()">add items +</h2>
  <div data-inventory-form-directive
        data-save="createNewItem(item)"
        data-button-text="'Add Item'"
        data-ng-if="showThisForm"></div>
</section>
