.clearfix {
  clear:both;
}

body {
  margin:0;
  padding:0;
}
#wrapper {
  min-height:100%;
  position:relative;
  font-family:"Gill Sans MT",trebuchet, sans-serif;
  color:#333;
  font-size:1.2em ;
  height:900px;
}
header {
  background:#ededed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
  padding:10px;
  height:70px;
  position: fixed;
  width: 100%;
  z-index: 100;

}
#content {

  padding-bottom:100px; /* Height of the footer element */
  padding-top:100px ;
  min-height: 700px;
    /*background: url("/css/fruit.jpg");
    background-size: cover;
    height:700px;*/
    position:relative;
    top:-900px;

}

#guard {
  padding-bottom:100px; /* Height of the footer element */
  padding-top:100px ;
  min-height: 700px;
    background: url("/css/fruit.jpg");
    background-size: cover;
    height:700px;
}
footer {
  text-align:center;
  background:#ffab62;
  border-top: 1px solid #ff4b02;
  width:100%;
  height:100px;
  position:absolute;
  bottom:-100px;
}

.logo {
  font-family:ubuntu;
  color:#00A3BF;
  font-size:56px;
  font-weight:500;
  float:left;
  padding:0 0 0px 25px;
  line-height:1;
}
.logo-small {
  font-family:ubuntu  ;
  color:#00889F;
  font-weight:4600;
  font-size:1.3em;
}

.logo-header {
  font-family:ubuntu;
  color:#00A3BF;
  font-size:1.5em;
  font-weight:500;
  padding-top: 15px;
}

#hamburger {
  background: url("/css/menu.png") no-repeat;
  background-size:contain;
  height:100%;
  width:50px;
  float:right;
  margin:5px 20px 0 20px;
}
.logout {
  float:right;
  margin:10px 20px 0 20px;
}
.info {
  float:right;
  padding:15px 50px 0 0;
}
ul {
  list-style: none;
}
.info ul {
  text-align:left;
  margin:0;
}
.standard {
  float:left;
  padding:30px 0 0 25px;
  text-align:left;
}
.tagline {
  text-align:center;
  padding-top: 35px;
}
.button-blue {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #4DAEBF;
}

.inventory-prefix {
  padding-left: 5%;
  padding-top: 1em;
  margin-bottom: -15px;
}

#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #4DAEBF;
    margin-right: 30px;
    width: 150px;
    line-height: 50px;
    color:white;
    border-radius:5px;
    display:block;
}

/*
**** Auth Styling ***
*/

.authSection {
  border-radius: 10px;
  background: #4DAEBF;
  opacity:0.93;
  padding: 20px;
  width: 500px;
  height: auto;
  margin:10px auto auto;
  clear:both;
  color:#eee;
}

.auth-forms {
}

#ul-wrapper {
  display:inline-block;
  margin-left:32%;
}

.pure-form-aligned .pure-control-group label {
  display: inline-block;
  margin: 0 1em 0 0;
  text-align: right;
  vertical-align: middle;
  width: 6em;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 7.3em;
}
.pure-control-group input[type="email"],
.pure-control-group input[type="password"],
.pure-control-group input[type="text"],
.pure-control-group input[type="number"],
.pure-control-group input[type="date"],
/*.pure-control-group select,
*/.pure-control-group textarea

{
  width:15em;
  padding: 0.2em .4em;
}

.pure-control-group select {
/*  width:15em;
*/  padding: 0.2em .4em;
  height:auto;

}


/*
******* Homepage styling *******
*/

.item-wrapper {
  height: 0;
  padding-bottom: 15%;
  width: 15%;
  margin: 2%;
  border-radius: 10px;
  float:left;
  background-size: cover;
  text-align:center;
  position:relative;
  border: 0.2em solid #ddd;
}


.food-item {
}

.item-name {
  font-size:1.1em;
  font-weight:bold;
  text-shadow: 0px 0px 4px #000;
  padding-top:6%;
  color:#fff;

}

.item-location {
  font-size:1.2em;
  font-weight:bold;
  text-shadow: 0px 0px 3px #000;
  position:absolute;
  right: .1em;
  bottom: .1em;
  color:#fff;
}
.item-expiry {
  font-size:1em;
  font-weight:normal;
  line-height:.9em;
  text-shadow: 0 0 4px #000;
  padding-top:20%;
  color:#fff;
}

.item-days {
  font-size: 2.5em;
  line-height: .9em;
  font-weight: bold;
  text-shadow: 0 0 6px #000;
  color:#fff;
}


/*
***** functional ***
*/
.more-items {

}


/*
***** add form ***
*/

#add-more-click {
  color: #00a3bf;
  font-family: ubuntu;
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 15px;
  position:absolute;
  right:15px;
  top:65px;
  cursor: pointer;
  cursor: hand;
}
.new-item{
    max-width: 450px;
    background: #00A3BF;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 1px solid #00A6eF;
    /*float:right;*/
    position:relative;
    top:-300px;
}
.new-item ul li select,
.new-item ul li input
{
  height:2em;
  margin: 6px 0;
  padding-top:4px;
}
.new-item ul{
    padding:0;
    margin:0;
    list-style:none;
}
.new-item ul li {
    display: block;
    margin-bottom: 0px;
    min-height: 35px;
}
.new-item ul li .field-style {
    box-sizing: border-box;
    padding: 4px 4px 8px 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    /*-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;*/

}.new-item ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.new-item ul li .field-split{
    width: 49%;
}
.new-item ul li .field-third {
    width:30%;
}
.new-item ul li .field-full {
    width: 100%;
}
.new-item ul li .align-left {
    float:left;
}
.new-item ul li .align-right {
    float:right;
}
.new-item ul li textarea{
    width: 100%;
    height: 100px;
}
.new-item ul li input[type="button"],
.new-item ul li input[type="submit"] {
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #127EE2;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    margin-top:20px;
}
.new-item ul li input[type="button"]:hover,
.new-item ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
